body , main {
    display: flex;
}
body {
    flex-direction: column;
   
}
body h1, h2, h3{
    text-align: center;
    color: blue;
    text-decoration: wavy underline;
}
main{
    flex-direction: row;
    flex:auto;
    overflow-y: auto;
    
}
article {
    flex:2;

}
aside{
    flex: 1;
}
