body , main {
    display: flex;
}
body {
    flex-direction: column;
    width: 100%;
    
   
}
header {
    background-color: black;

    text-align: center;
}
body h1, h2, h3{
    text-align: center;
    color: blue;
    text-decoration: wavy underline;
}
footer p, header li a{
    color: white;
}
main{
    flex-direction: row;
    flex:auto;
    overflow-y: auto;
    background-color: blanchedalmond;
    
}
article {
    flex:2;

}
aside{
    flex: 1;
}
footer {
    background-color: black;
}